

.logo {
    img {
        width: 40px;
    }
}

a {
    color: rgb(225, 225, 225) !important;
    text-decoration: none !important;
    margin-right: 10px !important;
    padding: 0px !important;

    &:hover {
        color: white;
    }
}

.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    .link-console {
        width: 100%;
        color: black !important;
        margin-right: 0px !important;
        padding: 0 40px 0 20px !important;
    
        &:hover {
            background-color: rgba(59, 128, 255, 0.4);
        }
    
    }
}


.cart-button {

    .cart-number {
        position: absolute;
        font-size: 12px;
        font-weight: 700;
        bottom: 7px;
        right: 5%;
        background-color: red;
        padding: 1px 6px;
        border-radius: 50%;
    }

}